.indexNav {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  text-transform: uppercase;
  margin: 15px auto;
  gap: 5px;
}

.indexNavLink {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f68e92+0,ea2f36+50,ed343b+50,de1e25+51,e41b23+100 */
  background: #f68e92; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f68e92 0%,
    #ea2f36 50%,
    #ed343b 50%,
    #de1e25 51%,
    #e41b23 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f68e92 0%,
    #ea2f36 50%,
    #ed343b 50%,
    #de1e25 51%,
    #e41b23 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f68e92 0%,
    #ea2f36 50%,
    #ed343b 50%,
    #de1e25 51%,
    #e41b23 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68e92', endColorstr='#e41b23',GradientType=0 ); /* IE6-9 */
  color: #eeeeee;
  padding: 5px 0;

}


/* 
  #F68E92
  #ED343B
  #DE1E25
  #E41B23
  
  */


  .indexNavLink a{
    text-decoration: none;
    color: #fff;
    padding: 5px 50px;
    text-align: center;
  }

li{
  list-style-type: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}